<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Copyd</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.robbyfuu.copyd</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>copyd</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>32</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.robbyfuu.copyd.save-clipboard</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Save Clipboard</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>doc.on.clipboard</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.robbyfuu.copyd.search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>magnifyingglass</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.robbyfuu.copyd.pinboards</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Pinboards</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>pin</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.robbyfuu.copyd.keyboard-setup</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Set Up Keyboard</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>keyboard</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
